<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description">

  <title>Cari Aja</title>

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
</head>

<body>
  <header id="app-bar" class="app-bar">
    <a href="index.html" class="app-bar--brand px-3">
      <h1>Cari Aja</h1>
    </a>
    <button class="app-bar--toggler" id="app-bar--toggler" type="button">
      <i class="bi bi-list toggler-button"></i>
    </button>
    <nav id="nav-drawer" class="app-bar--navigation">
      <ul>
        <li><a href="/">Cari</a></li>
        <li><a href="/jelajah-toko">Jelajah Toko</a></li>
        <li><a href="about.html">Tentang Platform</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </nav>
    <button class="btn btn-primary" id="btn-login" type="button">
      Masuk
    </button>
  </header>

  <main id="main">

  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-6 col-lg-3">
            <h3 class="footer-heading">Site Map</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="index.html"><i class="bi bi-chevron-right"></i> Cari barang</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Kunjungi Toko</a></li>
              <li><a href="about.html"><i class="bi bi-chevron-right"></i> Tentang Kami</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i>Pertanyaan Umum</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i>Masuk</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="description-container">
              <h3 class="footer-heading">Tentang Cari Aja</h3>
              <p>Cari Aja adalah sebuah platform yang memberikan informasi seputar persediaan produk yang sedang kamu butuhkan di toko fisik dengan cepat dan akurat.</p>
              <p><a href="about.html" class="footer-link-more">Info selengkapnya</a></p>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <h3 class="footer-heading">Tim Pengembang</h3>
            <ul class="developers d-flex list-unstyled">
              <li class="developer">
                <div class="social-media align-items-stretch">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bi bi-github"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
                <figure>
                  <img src="/img/developers/temp/man-1-small.jpg" alt="man-1">
                </figure>
              </li>
              <li class="developer">
                <div class="social-media align-items-stretch">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bi bi-github"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
                <figure>
                  <img src="/img/developers/temp/man-2-small.jpg" alt="man-2">
                </figure>
              </li>
              <li class="developer">
                <div class="social-media align-items-stretch">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bi bi-github"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
                <figure>
                  <img src="/img/developers/temp/woman-small.jpg" alt="woman">
                </figure>
              </li>
              <li class="developer">
                <div class="social-media align-items-stretch">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bi bi-github"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
                <figure>
                  <img src="/img/developers/temp/man-3-small.jpg" alt="man-3">
                </figure>
              </li>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-legal">
      <div class="copyright mx-auto p-3">
        © Copyright <strong><span>Cari Aja</span></strong>. All Rights Reserved
      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>

</body>

</html>