:root {
  scroll-behavior: smooth;
}

body {
  color: rgba(var(--color-primary-rgb), 1);
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  /* text-decoration: none; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

#main {
  min-height: 100vh;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}


.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

/*--------------------------------------------------------------
# App Bar
--------------------------------------------------------------*/
.app-bar {
  transition: all 0.5s;
  z-index: 1;
  background: #f2f2f2;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.app-bar--brand h1 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-default);
  font-family: var(--font-primary);
  margin-left: 15px;
}

.app-bar--toggler {
  border: none;
  background-color: transparent;
  display: none;
  min-width: 45px;
  min-height: 45px;
}

.app-bar--navigation ul {
  margin: 0;
  list-style-type: none;
  column-gap: 3rem;
  display: flex;
}

.app-bar--navigation a {
  text-decoration: none;
  display: block;
  padding: 15px 10px;
  /* background-color: aqua; */
}

#btn-login {
  margin-right: 10px;
}

.mobile-nav-toggle {
  display: none;
}

section#search {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 40px 0;
  overflow: hidden;
  scroll-margin-top: 70px;
}

/*--------------------------------------------------------------
# Search container
--------------------------------------------------------------*/
.search-container {
  max-width: 800px;
  min-width: 60%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#keyword {
  padding: 16px;
}

.search-container .input-group, .search-result--search .input-group {
  min-width: 400px;
  width: 60%;
}

.keyword:focus {
  outline: 0;
}

.keyword::placeholder {
  font-size: 15px;
}

.btn-search {
  /* width: 23%; */
  cursor: pointer;
  /* margin-left: auto; */
  padding: 16px;
  background-color: #ff6b6b;
  color: white;
  border: 0;
}

h2
{
   letter-spacing: 1px;
   font-size: 2.5em;
   word-spacing : 2px;
   text-align: center;
   margin-bottom: 5rem;
}

.row
{
   max-width: 1140px;
   margin: 0 auto;
}

.row .long-copy
{
   margin-bottom : 30px;
   text-align : center;
}

@media screen and (max-width: 1000px){
  h2
  {
       font-size: 140%;
  }

   .row .long-copy
   {
      font-size: 18px;
   }

   .search-container > button
   {
       font-size: 13px;
   }
}

@media screen and (max-width: 700px)
{
  h2
  {
       font-size: 130%;
  }

   .row .long-copy
   {
      font-size: 17px;
   }

   .search-container > button
   {
       font-size: 12px;
   }
}

@media screen and (max-width: 580px)
{
   h2
   {
       font-size: 120%;
   }
}

@media screen and (max-width: 550px){
  .search-container {
      flex-direction: column;
      position: static;
  }

  .search-container > input {
      width: 100%;
      margin-bottom: 12px;
      text-align : center;
  }

  .search-container > button {
      width: 100%;
  }
}

@media screen and (max-width: 400px){
  h2
   {
       font-size: 100%;
   }
}

@media screen and (max-width: 360px){
  .search-container >  input::placeholder {
      font-size: 13px;
  }
}

/** FOOTER CONTENT **/
.footer-heading {
  z-index: -1;
}

ul.developers {
  gap: 8px;
  /* position: absolute;
  z-index: 1; */
}

li.developer {

  /* cursor: pointer; */
  /* position: absolute; */
  /* z-index: 3; */
}

.developer .social-media {
  /* display: flex; */

  /* position: relative; */
  /* bottom: 280%;
  z-index: -1; */
}

/* .social-media a { */
  /* display: none; */
  /* padding: 4px;
  background-color: aqua;
  text-align: center;
} */

.social-media a:nth-child(4) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/** FOOTER LEGAL **/
.footer-legal {
  background-color: #ff6b6b;
}

.copyright {
  width: fit-content;
}

/*--------------------------------------------------------------
# Category Section
--------------------------------------------------------------*/
.categories {
  margin-top: 2.5rem;
  background-color: aquamarine;
  padding: 25px 20px;
}

.categories h2 {
  font-size: 1.5em;
  width: fit-content;
}

.categories-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: wrap;
}

.category-item {
  padding: 5px 10px;
  border-radius: 7px;
  background-color: bisque;
}

.category-item a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Search Section - Search Result Page
--------------------------------------------------------------*/
section#search-result--search {
  min-height: unset;
  padding: 40px 15px;
  display: flex;
  justify-content: center;
}

#search-result--search .input-group {
  width: 50%;
  max-width: 500px;
}

/*--------------------------------------------------------------
# Result Section
--------------------------------------------------------------*/
.result-total {
  text-align: center;
}
.result {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 8px;
}

.dropdown {
  text-align: center;
}