:root {
  scroll-behavior: smooth;
}

body {
  color: rgba(var(--color-primary-rgb), 1);
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  /* text-decoration: none; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

#main {
  min-height: 100vh;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}


.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.app-bar {
  /* height: 70px; */
  transition: all 0.5s;
  z-index: 1;
  background: #f2f2f2;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


/* .header.sticked {
  height: 60px;
} */

.app-bar--brand h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-default);
  font-family: var(--font-primary);
}

.app-bar--toggler {
  border: none;
  background-color: transparent;
  display: none;
  min-width: 45px;
  min-height: 45px;
}

.app-bar--navigation ul {
  margin: 0;
  list-style-type: none;
  column-gap: 3rem;
  display: flex;
}

.app-bar--navigation a {
  text-decoration: none;
  display: block;
  padding: 15px 10px;
  /* background-color: aqua; */
}

#btn-login {
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {

  /* .navbar {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 0 10px 30px;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--color-default-rgb), 1);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-default);
  } */
}

.mobile-nav-toggle {
  display: none;
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 576px) {
  .app-bar {
    position: relative;
  }
  .app-bar--navigation {
    display: none;
  }

  .app-bar .app-bar--toggler {
    display: block;
    margin-right: 5px;
  }

  #btn-login {
    position: absolute;
    right: 50px;
  }


.app-bar.responsive {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.app-bar.responsive .app-bar--brand {
  width: fit-content;
}
.app-bar.responsive .app-bar--navigation {
  display: block;
  grid-column-start: 1;
  grid-column-end: 6;
}
.app-bar.responsive .app-bar--navigation ul{
  margin-right: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  display: block;
  flex-direction: column;
}
.app-bar.responsive #btn-login {
  top: 2px;
}
.app-bar.responsive .app-bar--toggler {
  margin-right: -50px;
}

  /* .navbar {
    padding: 0;
    z-index: 9997;
  }

  .navbar ul {
    display: none;
    position: absolute;
    inset: 55px 15px 15px 15px;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background-color: var(--color-white);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    color: var(--color-primary);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-primary);
  }

  .mobile-nav-toggle {
    display: inline-block;
    color: var(--color-secondary);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-toggle.bi-x {
    color: var(--color-black);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    color: var(--color-white);
  }

  .mobile-nav-active .navbar {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(var(--color-black-rgb), 0.6);
    transition: 0.3s;
  }

  .mobile-nav-active .navbar>ul {
    display: block;
  } */
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  min-height: 100vh;
  overflow: hidden;
  scroll-margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------------------------------------------------------------
# Search container
--------------------------------------------------------------*/
.search-container {
  max-width: 800px;
  min-width: 60%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* row-gap: 2rem; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#keyword {
  padding: 16px;
}

.search-container .input-group, .search-result--search .input-group {
  min-width: 400px;
  width: 60%;
}

.keyword:focus {
  outline: 0;
}

.keyword::placeholder {
  font-size: 15px;
}

.btn-search {
  /* width: 23%; */
  cursor: pointer;
  /* margin-left: auto; */
  padding: 16px;
  background-color: #ff6b6b;
  color: white;
  border: 0;
}

h2
{
   letter-spacing: 1px;
   font-size: 2.5em;
   word-spacing : 2px;
   text-align: center;
   margin-bottom: 5rem;
}

/* h2:after
{
   display: block;
   height: 2px;
   background-color: #e67e22;
   content: " ";
   width: 100px;
   margin: 0 auto;
   margin-top: 30px;
} */

.row
{
   max-width: 1140px;
   margin: 0 auto;
}

.row .long-copy
{
   margin-bottom : 30px;
   text-align : center;
}

@media screen and (max-width: 1000px){
  h2
  {
       font-size: 140%;
  }

   .row .long-copy
   {
      font-size: 18px;
   }

   .search-container > button
   {
       font-size: 13px;
   }
}

@media screen and (max-width: 700px)
{
  h2
  {
       font-size: 130%;
  }

   .row .long-copy
   {
      font-size: 17px;
   }

   .search-container > button
   {
       font-size: 12px;
   }
}

@media screen and (max-width: 580px)
{
   h2
   {
       font-size: 120%;
   }
}

@media screen and (max-width: 550px){
  .search-container {
      flex-direction: column;
      position: static;
  }

  .search-container > input {
      width: 100%;
      margin-bottom: 12px;
      text-align : center;
  }

  .search-container > button {
      width: 100%;
  }
}

@media screen and (max-width: 400px){
  h2
   {
       font-size: 100%;
   }
}

@media screen and (max-width: 360px){
  .search-container >  input::placeholder {
      font-size: 13px;
  }
}

/** FOOTER CONTENT **/
.footer-heading {
  z-index: -1;
}

ul.developers {
  gap: 8px;
  /* position: absolute;
  z-index: 1; */
}

li.developer {

  /* cursor: pointer; */
  /* position: absolute; */
  /* z-index: 3; */
}

.developer .social-media {
  /* display: flex; */

  /* position: relative; */
  /* bottom: 280%;
  z-index: -1; */
}

/* .social-media a { */
  /* display: none; */
  /* padding: 4px;
  background-color: aqua;
  text-align: center;
} */

.social-media a:nth-child(4) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/** FOOTER LEGAL **/
.footer-legal {
  background-color: #ff6b6b;
}

.copyright {
  width: fit-content;
}