:root {
  scroll-behavior: smooth;
}

body {
  color: rgba(var(--color-primary-rgb), 1);
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  /* text-decoration: none; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

#main {
  min-height: 100vh;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}


.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

/*--------------------------------------------------------------
# App Bar
--------------------------------------------------------------*/
.app-bar {
  transition: all 0.5s;
  z-index: 1000;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.app-bar--brand h1 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-default);
  font-family: var(--font-primary);
  margin-left: 15px;
}

.app-bar--toggler {
  border: none;
  background-color: transparent;
  display: none;
  min-width: 45px;
  min-height: 45px;
}

.app-bar--navigation ul {
  margin: 0;
  list-style-type: none;
  column-gap: 3rem;
  display: flex;
}

.app-bar--navigation a {
  text-decoration: none;
  display: block;
  padding: 15px 10px;
  /* background-color: aqua; */
}

#btn-login {
  margin-right: 10px;
}

.mobile-nav-toggle {
  display: none;
}

section#search {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 40px 0;
  overflow: hidden;
  scroll-margin-top: 70px;
}

/*--------------------------------------------------------------
# Search container
--------------------------------------------------------------*/
.search-container {
  max-width: 800px;
  min-width: 60%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#keyword {
  padding: 16px;
}

.search-container .input-group, .search-result--search .input-group {
  min-width: 400px;
  width: 60%;
}

.btn-search {
  cursor: pointer;
  padding: 16px;
  background-color: #ff6b6b;
  color: white;
  border: 0;
}


@media screen and (max-width: 550px){
  .search-container {
      flex-direction: column;
      position: static;
  }

  .search-container > input {
      width: 100%;
      margin-bottom: 12px;
      text-align : center;
  }

  .search-container > button {
      width: 100%;
  }
}


/** FOOTER CONTENT **/
.footer-heading {
  z-index: -1;
}

ul.developers {
  gap: 8px;
}

.social-media a:nth-child(4) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/** FOOTER LEGAL **/
.footer-legal {
  background-color: #ff6b6b;
}

.copyright {
  width: fit-content;
}

/*--------------------------------------------------------------
# Category Section
--------------------------------------------------------------*/
.categories {
  margin-top: 2.5rem;
  padding: 25px 20px;
}

.categories h2 {
  font-size: 1.5em;
  width: fit-content;
}

.categories-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: wrap;
}

.category-item {
  padding: 5px 10px;
  border-radius: 7px;
  background-color: bisque;
}

.category-item a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Search Section - Search Result Page
--------------------------------------------------------------*/
section#search-result--search {
  min-height: unset;
  padding: 40px 15px;
  display: flex;
  justify-content: center;
}

#search-result--search .input-group {
  width: 50%;
  max-width: 500px;
}

/*--------------------------------------------------------------
# Result Section
--------------------------------------------------------------*/
.title-section {
  text-align: center;
}

.result-total {
  text-align: center;
}
.result {
  margin: 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}


/*--------------------------------------------------------------
# Sort By
--------------------------------------------------------------*/
.btn-sort {
  position: absolute;
  right: 50px;
}

.sort-mini-modal {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 12rem;
  padding: 16px;
  position: absolute;
  right: 50px;
  top: 27rem;
  z-index: 1;
  background-color: #fff;
  display: none;
}

.sort-mini-modal.show {
  display: block;
}

.sort-mini-modal h3 {
  font-size: 1.2em;
}

.sort-container {
  margin-top: 14px;
  display: grid;
  grid-template-columns: repeat(2, 4.5rem);
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sort-item {
  background-color: salmon;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/*--------------------------------------------------------------
# Detail Product
--------------------------------------------------------------*/
.product-detail-container div {
  padding-top: 30px;
}